.box{
    width: 80%;
    margin-left: 10%;
    margin-top: -520px;
}

.panel p{
    font-size: 0.8rem;
    font-weight: 400;
    text-align: left;
}

header{
    font-size: 28px;
  font-weight: 600;
  padding: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
}
.deku{
    padding:0 0 2rem 0;
}


@media screen and (max-width:640px) {
    .box{
        
        margin-top: -680px;
    }
    header{
        font-size: 25px;
      font-weight: 600;
      padding: 1rem 0 1rem 0;
      display: flex;
      justify-content: center;
    }
    desc{
        font-size: 12px;
        display: flex;
        justify-content:space-between;
    }
    .deku{
        padding: 0 0 2rem 0 ;
    }
}