.about{
  margin-top: -400px;
  margin-bottom: 150px;
}
.images{
    width: 460px;
    height: 300px;
    float: left;   
    margin: 5px 40px 16px 18px;   
}

  .text {
    font-size: 20px;
    max-width: 100%;
    text-align:justify;
  }

  @media screen and (max-width:640px){
    .text{
      font-size: 15px;
      padding-top: 20px;
      overflow: hidden;
    }
    .about{
      margin: 2rem 1rem;
      position: relative;
      margin-top: -400px;
    }
    .head{
      font-size: 18px;
      font-weight: 750;
     
    }
    .images{
      width: 320px;
      float: left;   
      margin: 10px 0px 0px 0px;  
  }
  }

  @media screen and (max-width:440px){
  .container{
    display: flex;
    flex-direction: column;
  }


    
  }

